#request{
  width: 200px;
  height: 100px;
  border: 1px solid black;
  line-height: 100px;
  text-align: center;
}

#respond{
  width: 200px;
  height: 100px;
  border: 1px solid black;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  display: block;
  margin-top: 20%;
  font-size: 25px;
}

#welcome{
  width: 100%;
  height: 40px;
  margin-top: 15%;
}
#riderformat{
	background-color: blue;
	color: white;
}
#driverfound{
  width: 100%;
  height: 40px;
  margin-top: 5px;
  color: red;
  text-align: center;
  font-size: 20px;
}

.jumbotron{
  background-image: url("../grayscale.jpg");
  background-size: cover;
  height: 1000px;
  font-family: 'Merriweather', serif;
  color: #E6E6E6;
  text-shadow: 2px 2px #000000;
}

h1{
  margin-top: 10%;
}

#map-container{
  height: 500px;
}

#logo{
  height: 50px;
  width: 50px;
  margin-top: 10px;
}

#welcome{
  font-family: 'Merriweather', serif;
  font-size: 20px;
  line-height: 2;
  text-align: center;
}

#btn-center{
  text-align: center;
}

#btn-primary{
	margin-left:5px !important;
	margin-top: 15px;
}
#textbox{
	margin-top: 5px;
}